html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background: #E4E2DD;
}

.standard-heading {
	font-size: 1.925em; 
	font-weight: 800;
	font-family: 'Montserrat';
}



/* Start of Navbar CSS */

.navbar {
	border-bottom: 1px solid hsla(0,0%,100%,.3);
	padding-top: 1%;
	padding-bottom: 1%;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;

}

.navbar .dropdown-menu {
  border:none;
  background: #fff !important;
}

.dropdown-menu {
	padding-top: 1%;
}


.dropdown-menu li.nav-item a {
	color: #34C2F5 !important;
	font-weight: 500;
}

.dropdown-menu li.nav-item:hover {
	background-color: #f8f9fa;
}

/* End of Navbar CSS */



/* Start of Content Page & Category CSS */

.content {
	background: #ffffff;
	padding: 3% 0% 3% 0%;
	-webkit-box-shadow: 0px 11px 26px -7px rgba(105,105,105,0.79);
	-moz-box-shadow: 0px 11px 26px -7px rgba(105,105,105,0.79);
	box-shadow: 0px 11px 26px -7px rgba(105,105,105,0.79);
}

.breadcrumbs {
	margin: 2% 0% 4% 0%;
	padding: 0% 3% 0% 3%;
}

.breadcrumbs a, .product-name {
	color: #34C2F9;
}

.product-name:hover {
	color: #34C2F9;
}

.product-page-heading, .category-page-heading {
	font-size: 2.725em; 
	font-weight: 700;
	font-family: 'Montserrat';
}

.product-page-heading {
	padding: 0% 3% 5% 3%;
}

.category-page-heading {
	padding: 0% 3% 2% 3%;
}

table {
	padding: 1% 0% 1% 0%;
	width: 90%;
	border: 1px solid hsla(0,0%,70%,.3);
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	font-size: 120%;
  	font-weight: 400;
  	margin-bottom: 8%;
}

.table-head {
	height: 60px;
}

tr, td {
	border: 1px solid hsla(0,0%,70%,.3);
}

td, th {
	padding: 1%;
}

th {
	border-right: 1px solid hsla(0,0%,70%,.3);

}

.bold {
	font-weight: bold;
	color: #34C2F9;
}

.text2 {
	font-size: 120%;
}

.product-info {
	margin-bottom: 5%;
}

.btn-buy {
	color: #fff;
	background: #6ECC40;
	border-color: #6ECC40;
}

.heading-wrapper {
	background-color: #34C2F9;
	min-height: 60px;
	margin: 5% 0% 5% 0%;
}

.buying-guide-heading, .related-categories-heading {
	font-size: 1.5em; 
	font-weight: 700;
	font-family: 'Montserrat';
	padding: 16px;
	color: #fff;
	margin: auto;
}

.buying-guide {
	margin: 3% 8% 3% 8%;
}

.buying-guide li {
	margin-bottom: 3%;
}

.span-seperate {
	font-weight: 400;
	font-size: 110%;
}

.span-seperate-head {
	font-weight: 500;
	font-size: 110%;
	color: #34C2F9;
}

.buying-guide i {
	margin-right: 2%;
	font-size: 130%;
}

.related-categories, .category-items {
	margin: 5% 4% 5% 4%;
}

.related-categories-heading {
	margin: 7% 0% 4% 0%;	
}

.card-deck {
	margin-bottom: 5%;
}

.page-link {
	color: #34C2F5;
}



.active a.page-link {
	background-color: #34C2F5 !important;
	border-color: #34C2F5 !important;
}

/* End of Content Page & Category CSS */


/* Start of Footer CSS */

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background: -webkit-linear-gradient(right, #00A7FF, #34c2f5);
  color: #f8f9fa; 
  overflow:auto;
}

.footer-links a {
	color: #ffffff;
	margin-right: 10px;
}

.footer a:hover, .card a:hover {
	text-decoration: none;
}

.footer-links {
	text-align: center;
}

.copyright-text{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.social-icons{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
	float: none;
}


/* End of Footer CSS */



/* Start of Home Page CSS */
.shopping-cart {
	display:none;
}

.hero-section {
	padding: 5% 5% 5% 5%;
	background: -webkit-linear-gradient(right, #00A7FF, #34c2f5);
	color: #ffffff;
}

.hero-search {
	padding: 6% 0% 6% 0%;
}

.hero-heading {
	font-size: 2.425em; 
	font-weight: 800;
	font-family: 'Montserrat';
}

.hero-form {
	margin-top: 5%;
	background: #fff;
	border-radius: 5px;
	width: 100%;
}

.btn-search:focus {
	box-shadow: none;
}

.btn-search {
	background: #F16334;
	color: #fff;
	border-radius: 4px;
}

.home-form-input {
	border-style: none;
	max-width: 60%;
}

.home-form-input:focus {
	border-style: none !important;
	box-shadow: none;
}

.home-content {
	background: #ffffff;
	padding: 5% 3% 5% 3%;
}

.popular-categories {
	margin: 7% 0% 5% 0%;
}

.home-alternative-content {
	padding: 5% 3% 5% 3%;
	background: -webkit-linear-gradient(right, #00A7FF, #34c2f5);
	color: #fff;
}

.home-margin {
	margin-bottom: 5%;
}

.product-image {
	max-height: 160px ;
	display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.product-image-wrapper {
	margin: 2% 0% 5% 0%;
	padding: 0% 15% 0% 15%;
}

.card-title {
	color: #777;
	font-size: 130%;
}

.how-it-works {
	margin: 8% 0% 8% 0%;
}

.fa-search {
	color: #000;
}

.fa-trophy {
	color: #000;
}

.fa-chart-pie {
	color: #000;
}

.minor-heading {
	margin: 6% 0% 6% 0%;
}

/* End of Home Page CSS */



/* MEDIA QUERIES */

/* Extremely Small devices (landscape phones, 576px and up) */
@media (min-width: 350px) { 
	
	.hero-form {
		padding-left: 1%;
	}

	.home-form-input {
		min-width: 65%;
	} 

}

@media (min-width: 430px) { 
	
	.home-form-input {
		min-width: 72%;
	} 

	.hero-form {
		padding-left: 1%;
	}

	
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	
	.home-form-input {
		min-width: 77%;
	} 

	.hero-form {
		padding-left: 1%;
		padding: 2% 0% 2% 0%;
	}

	.standard-heading {
		font-size: 2.325em; 
	}

	.hero-heading {
		font-size: 2.625em; 
	}	



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	.buying-guide-heading, .related-categories-heading {
		font-size: 1.8em; 
		padding: 12px;

	}

	.hero-form {
		padding-left: 1%;
		padding: 1% 0% 1% 0%;
	}

	.home-form-input {
		min-width: 83%;
	}

	.home-margin {
		margin-bottom: 0%;
	}

	.copyright-text {
		text-align: none;
		display: inline;

	}

	.social-icons {
		text-align: none;
		display: block;	
	}

	


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	/* remove the padding from the navbar so the dropdown hover state is not broken */
	.navbar {
	  padding-top:0px;
	  padding-bottom:0px;
	}

	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	.navbar .nav-item {
	  padding:.5rem .5rem;
	  margin:0 .25rem;
	}

	/* makes the dropdown full width  */
	.navbar .dropdown {
		position:static;
	}

	.navbar .dropdown-menu {
	  width:50%;
	  left:0;
	  right:0;
	  margin-left: auto;
  	  margin-right: auto;
	/*  height of nav-item  */
	  top:45px;
	  display:block;
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s, opacity 0.3s linear;
	}
	  
	  /* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
	  display:block;
	  visibility: visible;
	  opacity: 1;
	  transition: visibility 0s, opacity 0.3s linear;
	}
	  
	.navbar .dropdown-menu {
	    border: 1px solid rgba(0,0,0,.15);
	    background-color: #fff;
	}



	.shopping-cart {
		display: block;
	}

	.home-form-input {
		min-width: 67%;
	} 

	.social-icons {
		float: right;
	}

	.copyright-text {
		text-align: none;
		display: inline;
	}

	.social-icons {
		text-align: none;
		display: inline;
	}

	.footer-links {
		text-align: left;
	}

	.footer {
	  line-height: 60px; 
	}

	.hero-form {
		padding-left: 1%;
		padding: 2% 0% 2% 0%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.home-form-input {
		min-width: 74%;
	}

	.hero-form {
		padding-left: 3%;
	}
	
    .container {
        max-width: 1200px;
    }

}

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}