{% extends 'base.html' %}

{% block metatags %}
  <title>{{category.seo_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{category.seo_description}}"/> <!-- Generated Dynamically -->
  <meta property="og:locale" content="{{LOCALE}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{category.seo_title}}" /> <!-- Generated Dynamically -->
  <meta property="og:description" content="{{category.seo_description}}" /> <!-- Generated Dynamically -->
  <meta property="og:url" content="{{BASE_DOMAIN}}" /> <!-- Generated Dynamically -->
  <meta property="og:site_name" content="{{SITE_NAME}}" /> <!-- Generated Dynamically -->
  <meta name="og:image" content="https://www.reviewsignals.com/images/logo.png"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{category.seo_description}}" /> <!-- Generated Dynamically -->
  <meta name="twitter:title" content="{{category.seo_title}}" /> <!-- Generated Dynamically -->
  <meta name="twitter:site" content="{{TWITTER_USERNAME}}" /> <!-- Generated Dynamically -->
  <meta name="msvalidate.01" content="{{BING_VERIFICATION_CODE}}" /> <!-- Generated Dynamically -->
  <meta name="google-site-verification" content="{{GOOGLE_VERIFICATION_CODE}}" /> <!-- Generated Dynamically -->
{% endblock metatags %}

{% block content %}
    <div class="container category-container">
      <div class="content">
        <div class ="breadcrumbs">
          <a href="/">Home</a> / {{category.name}}
        </div>
        <h1 class="category-page-heading text-center">{{category.name}}</h1>

        <div class="category-items">
          <div class="card-deck text-center">
          {% for product_category in product_categories %}
            <div class="card">
              <a class="product-link" href="{{product_category.get_absolute_url}}">
                <div class="card-body">
                  <h3 class="card-title">{{product_category.name}}</h3>
                </div>
                <div class="product-image-wrapper">
                  <img
                    class="card-img-top product-image"
                    {% if product_category.image %}
                      src="{{product_category.image.url}}"
                    {% else %}
                      src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg"
                    {% endif %}
                    alt="Card image cap">
                </div>
              </a>
            </div>
          {% endfor %}

          </div>
        </div>


        {% if is_paginated %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{{request.path}}?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{request.path}}?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
            {% endif %}
            <li class="page-item active">
              <a class="page-link" href="#">{{page_obj.number}}<span class="sr-only">(current)</span></a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{request.path}}?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
            <li class="page-item">
              <a class="page-link" href="{{request.path}}?page={{page_obj.next_page_number}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    </div>

{% endblock content %}
