{% extends 'base.html' %}

{% block metatags %}
<title>{{product_category.seo_title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{product_category.seo_description}}" />
<meta property="og:locale" content="{{LOCALE}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{product_category.seo_title}}" />
<meta property="og:description" content="{{product_category.seo_description}}" />
<meta property="og:url" content="{{BASE_DOMAIN}}" />
<meta property="og:site_name" content="{{SITE_NAME}}" />
<meta name="og:image" content="https://www.reviewsignals.com/images/logo.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{product_category.seo_description}}" />
<meta name="twitter:title" content="{{product_category.seo_title}}" />
<meta name="twitter:site" content="{{TWITTER_USERNAME}}" />
<meta name="msvalidate.01" content="{{BING_VERIFICATION_CODE}}" />
<meta name="google-site-verification" content="{{GOOGLE_VERIFICATION_CODE}}" />
{% endblock metatags %}


{% block content %}
<div class="container product-container">
  <div class="content">
    <div class="breadcrumbs">
      <a href="/">Home</a> <a href={{product_category.parent.get_absolute_url}}>{{product_category.parent.name}}</a> /
      {{product_category}}
    </div>
    <h1 class="product-page-heading text-center">{{heading}}</h1> <!-- Generated Dynamically (Page Title) -->
    <table>
      <tr class="table-head">
        <th width="10%">RANK</th>
        <th width="20%"></th>
        <th width="45%">NAME</th>
        <th width="10%">RATINGS</th>
        <th width="15%"></th>
      </tr>
      {% for product in products %}
      <tr>
        <td>#{{product.rank}}</td>
        <td>
          <img class="card-img-top product-image" {% if product.image %} src="{{product.image}}" {% else %}
            src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg" {% endif %}
            alt="Card image cap">
        </td>
        <td><a target="_blank" class="product-name" href="https://amazon.in{{product.url}}">{{product.name}}</a></td>
        <td>{{product.score}}<i class="fas fa-check"></i></td>
        <td>
          <a href="{{product.get_report_url}}">
            <button class="btn btn-buy my-2 my-sm-0" type="submit">View Report</button></td>
        </a>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>



{% endblock content %}
