{% extends 'base.html' %}
{% load static %}
{% block metatags %}
<title>Report | {{report.product.name}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Report | {{report.product.seo_description}}" />
<meta property="og:locale" content="{{LOCALE}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Report | {{report.product.seo_description}}" />
<meta property="og:description" content="{{product_category.seo_description}}" />
<meta property="og:url" content="{{BASE_DOMAIN}}" />
<meta property="og:site_name" content="{{SITE_NAME}}" />
<meta name="og:image" content="https://www.reviewsignals.com/images/logo.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{product_category.seo_description}}" />
<meta name="twitter:title" content="Report | {{report.product.seo_description}}" />
<meta name="twitter:site" content="{{TWITTER_USERNAME}}" />
<meta name="msvalidate.01" content="{{BING_VERIFICATION_CODE}}" />
<meta name="google-site-verification" content="{{GOOGLE_VERIFICATION_CODE}}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>
  .bolder {
    font-weight: bold;
    font-size: 140%;
  }

  .boldest {
    font-weight: bold;
    font-size: 120%;
  }

  .thevalue {
    font-weight: normal;
  }

  .amazon-ratings,
  .adjusted-ratings {
    margin-top: 7%;
  }

  #amazon,
  #adjusted {
    font-weight: bold;
    font-size: 130%;
  }

  .buy_btn {
    margin-bottom: 18px;
    width:220px;
  }

</style>

{% endblock metatags %}


{% block content %}

<div class="container product-container">
  <div class="content">
    <div class="row">
      <div class="col">
        <a target = "_blank"
          class="buy_btn btn btn-lg btn-primary float-right" 
          href=https://amazon.in{{report.product.url}} >Buy it now</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="product-page-heading text-center">{{report.product.name}}</h1>
        <!-- Generated Dynamically (Page Title) -->
      </div>
      <div class="col">
        <img class="card-img-top product-image" {% if report.product.image %} src="{{report.product.image}}" {% else %}
          src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg" {% endif %}
          alt="Card image cap">
      </div>
    </div>
    <br />
    <br />

    <div class="container product-info">
      <div class="row">
        <div class="col-sm text-center text2">
          <span class="bolder">Amazon Ratings</span>
          <div class="amazon-ratings"></div>
          <p id="amazon"></p>
        </div>
        <div class="col-sm text-center text2">
          <img class="card-img-top product-image" src={% static "images/arrow-pointing-right.png"%} height="70%">
        </div>
        <div class="col-sm text-center text2">
          <span class="bolder">Adjusted Ratings</span>
          <div class="adjusted-ratings"></div>
          <p id="adjusted"></p>
        </div>
      </div>
    </div>

    <div class="container product-info">
      <div class="row">
        <div class="col-sm text-center text2">
          <p class="boldest">What users are saying</p>
          <blockquote class="blockquote">
            {% for phrases in report.extra_data.most_common_phrases|slice:":10" %}
            <p class="mb-0">"{{phrases.0}}"</p>
            {% endfor %}
          </blockquote>
        </div>
      </div>
    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Ratings Distribution</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">

      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <span class="bolder">Amazon Ratings</span>
            <div id="chartContainer3" style="height: 370px; width: 100%;"></div>

          </div>
          <div class="col-sm text-center text2">
          </div>
          <div class="col-sm text-center text2">
            <span class="bolder">Adjusted Ratings</span>
            <div id="chartContainer4" style="height: 370px; width: 100%;"></div>

          </div>
        </div>

      </div>
      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <p class="boldest">Total Reviews Scanned: <span class="thevalue">{{report.total_reviews}}</span></p>
            <p class="boldest">Number of Failed Reviews: <span class="thevalue">{{report.fake_reviews_count}}</span></p>
            {% comment %} <span class="text-danger boldest">Percentage of Potential Fake Reviews: 37.8%</span>
            {% endcomment %}
          </div>
        </div>
      </div>



    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Sentiment Analysis</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">
      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <p class="boldest">Average Sentiment Score: <span class="thevalue">{{report.average_sentiment_score}}</span>
            </p>
            <p class="boldest">Sentiment After Discarding Fake Reviews: <span
                class="thevalue">{{report.rs_average_sentiment_score}}</span></p>
            {% comment %} 5 - Extremely Positive <br>
            4 - Positive <br>
            3 - Moderate <br>
            2 - Negative <br>
            1 - Extremely Negative <br> {% endcomment %}

          </div>
        </div>
      </div>
    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Readibility Analysis</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">
      <div class="container product-info">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8 text-center">
            <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
            <span class="bold">Average:</span> {{report.average_readability_score}}
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>

      <div class="container product-info">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8 text-center">
            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
            <span class="bold">Average:</span> {{report.average_ari}}
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Word Counts</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">
      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <p class="boldest">Average Review Length: <span class="thevalue">{{report.average_review_length}}
                characters</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Unverified Purchases</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">
      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <p class="boldest">Total Purchases: <span class="thevalue">5101</span></p>
            <p class="boldest">Number of Unverified Purchases: <span class="thevalue">475</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="heading-wrapper">
      <h2 class="buying-guide-heading text-center">Linguistic Analysis</h2> <!-- Generated Dynamically -->
    </div>
    <div class="buying-guide">
      <div class="container product-info">
        <div class="row">
          <div class="col-sm text-center text2">
            <p class="boldest">Average Number of Nouns: <span class="thevalue">{{report.average_noun_count}}</span></p>
            <p class="boldest">Average Number of Verbs: <span class="thevalue">{{report.average_verb_count}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block javascript %}

<script>
var num_five_stars = {{report.rating_counter.5|default:0}};
var	num_four_stars = {{report.rating_counter.4|default:0}};
var	num_three_stars = {{report.rating_counter.3|default:0}};
var	num_two_stars = {{report.rating_counter.2|default:0}};
var	num_one_stars = {{report.rating_counter.1|default:0}};
var	num_failed_five_stars = {{report.fake_reviews_rating_counter.5|default:0}};
var	num_failed_four_stars = {{report.fake_reviews_rating_counter.4|default:0}};
var	num_failed_three_stars = {{report.fake_reviews_rating_counter.3|default:0}};
var	num_failed_two_stars = {{report.fake_reviews_rating_counter.2|default:0}};
var	num_failed_one_stars = {{report.fake_reviews_rating_counter.1|default:0}};

window.onload = function () {
    var dataPoints = [];
    obj = {{report.readability_level_count|safe}};
    Object.keys(obj).forEach(function(key) {
        dataPoints.push({y: obj[key]});
    });
    var chart1 = new CanvasJS.Chart("chartContainer1", {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: "Flesch-Kincaid Readability"
      },
      axisY:{
        includeZero: false
      },
      data: [{        
        type: "line",       
        dataPoints: dataPoints
      }]
    });
    
    var dataPoints = [];
    obj = {{report.ari_score_count|safe}};
    Object.keys(obj).forEach(function(key) {
        dataPoints.push({y: obj[key]});
    });
    var chart2 = new CanvasJS.Chart("chartContainer2", {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: "Automated Readability Index (ARI)"
      },
      axisY:{
        includeZero: false
      },
      data: [{        
        type: "line",       
        dataPoints: dataPoints
      }]
    });
    var chart3 = new CanvasJS.Chart("chartContainer3", {
        animationEnabled: true,
        data: [{
            type: "pie",
            indexLabelPlacement: "inside",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: num_five_stars, label: "5 Stars"},
                {y: num_four_stars, label: "4 Stars"},
                {y: num_three_stars, label: "3 Stars"},
                {y: num_two_stars, label: "2 Stars"},
                {y: num_one_stars, label: "1 Stars"}
            ]
        }]
    });
    var chart4 = new CanvasJS.Chart("chartContainer4", {
        animationEnabled: true,
        data: [{
            type: "pie",
            indexLabelPlacement: "inside",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: num_five_stars-num_failed_five_stars, label: "5 Stars"},
                {y: num_four_stars-num_failed_four_stars, label: "4 Stars"},
                {y: num_three_stars-num_failed_three_stars, label: "3 Stars"},
                {y: num_two_stars-num_failed_two_stars, label: "2 Stars"},
                {y: num_one_stars-num_failed_one_stars, label: "1 Stars"}
            ]
        }]
    });
    chart1.render();
    chart2.render();
    chart3.render();
    chart4.render();
    }
    
    var adj_ratings = {{report.rs_average_rating}}
    $(".adjusted-ratings").starRating({
        initialRating: adj_ratings ,
        strokeColor: '#894A00',
        strokeWidth: 10,
        starSize: 40,
        readOnly: true
    });
    document.getElementById("adjusted").innerHTML = adj_ratings + '/5';
    
    var amz_ratings = {{report.average_rating}};
    $(".amazon-ratings").starRating({
        initialRating: amz_ratings,
        strokeColor: '#894A00',
        strokeWidth: 10,
        starSize: 40,
        readOnly: true
    });
    document.getElementById("amazon").innerHTML = amz_ratings + '/5';

</script>

{% endblock javascript %}
