{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Know more about Review Signals and how it works." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About Us - ReviewSignals" />
    <meta property="og:description" content="Know more about Review Signals and how it works." />
    <meta property="og:url" content="https://www.reviewsignals.com/about" />
    <meta property="og:site_name" content="Review Signals" />
    <meta name="og:image" content="https://www.reviewsignals.com/images/logo.png"/>
    <meta name="msvalidate.01" content="bing_verification_code_here" />
    <meta name="google-site-verification" content="google_verification_code_here" />
 
    <script type='application/ld+json'>
        {
            "@context": "http://schema.org/",
            "@type": "WebSite",
            "name": "Review Signals",
            "url": "https://www.reviewsignals.com/"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Review Signals",
            "alternateName": "ReviewSignals",
            "url": "https://www.reviewsignals.com",
            "logo": "",
            "sameAs": ["https://www.facebook.com/reviewsignals", "https://www.twitter.com/reviewsignals", "https://www.instagram.com/reviewsignals", "https://www.linkedin.com/reviewsignals"]
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type='image/x-icon' href="images/favicon.ico">
    <title>About Us - Review Signals</title>
    <style>
      .about-us-content {
        padding: 7% 10%;
      }
      .about-page-heading {
        font-size: 2.925em;
        font-weight: 700;
        font-family: 'Montserrat';
        padding: 1%;
        margin-bottom: 2%;
      }  
      .about-page-subheading {
        font-family: 'Montserrat';
        margin: 4% 0% 3% 0%;
        font-size: 1.825em;
      }  
      .about-content {
        padding-left: 5%;
      }

      .image-main {
        margin-right: 3%;
      }

      .image-alternative {
        margin-left: 3%;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: -webkit-linear-gradient(right, #00A7FF, #34c2f5);">
        <div class="container"> <a class="navbar-brand" href="/">Review Signals</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item active"> <a class="nav-link" href="/about">About</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button></form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="content about-us-content">
            <h1 class="about-page-heading text-center">ABOUT US</h1>
            <p>Review Signals is a Company that searches for best products all around the Web. Our aim is to make online shopping easier by scanning different reviews and opinions around the Internet to determine how good a certain product is. Our tool uses Artificial Intelligence to detect fake reviews and it discards them. Our tool performs Sentimental Analysis on the reviews and calculates the mean score of every product. 
            </p> 
            <p>
            After the analysis, it generates a rating for each product and finds the best product in each category. Just like everything else in this universe, our tool is not perfect. But we are constantly improving it and we do listen to user feedback. To contact Review Signals, mail us using <a href="/contact" target="_blank">this form</a>.
            </p>
         
            <h2 class="about-page-subheading text-center">WHO ARE WE</h2>
            <img src={% static "images/Developers.png" %} class="rounded float-left image-main" alt="Developers" height="120px">
            We are a team of Developers & Computer Engineers that wanted to make online shopping easier. Like most people, we used to go through many different reviews to be certain of a product's quality and performance. We realized that everyone around the globe goes through the same issue and there needs to be a tool that can judge a product without any manual work. And that is how this project came to a reality.
            
            <h2 class="about-page-subheading text-center">OUR GOAL</h2>
            <img src={% static "images/ratings.png" %} class="rounded float-right image-alternative" alt="Fair Product Reviews" height="120px">
            Our goal is to make online product reviews fair and unbiased and make it easy for the people to get the conclusion without going through all those long reviews. We also want to get rid of fake, biased, and sponsored reviews around the Web that manipulates the users in buying the wrong product. We know the value of your money and we want you to spend it on the most valuable product.


            <h2 class="about-page-subheading text-center">HOW IT WORKS</h2>
            <img src={% static "images/machine-learning.png" %} class="rounded float-left image-main" alt="Artificial Intelligence & Sentiment Analysis" height="120px">
            Review Signals works by Data Mining thousands of reviews around the Internet. We use Artificial Intelligence and Sentiment Analysis to filter out fake reviews and find the conclusion and ratings of unbiased reviews. We sum up all the ratings and find a mean score out of 10. Then we assign that product a category and list the Top 10 Products in each category. We also keep a track of new reviews and hence the ratings may change with time.
        </div>
    </div>   

    <footer class="footer">
        <div class="container">
            <div class="footer-links"> <span class="copyright-text"><a href="/">Copyright © 2018 • Review Signals</a></span> <a href="/about">About</a> <a href="/contact">Contact</a> <a href="/privacy-policy">Privacy Policy</a> <a href="/affiliate-disclosure">Affiliate Disclosure</a> <span class="social-icons"> <a href="#" rel="me"><i class="fab fa-facebook-f"></i></a> <a href="#" rel="me"><i class="fab fa-twitter"></i></a> <a href="#" rel="me"><i class="fab fa-google-plus-g"></i> </a> <a href="#" rel="me"><i class="fab fa-instagram"></i></a> <a href="#" rel="me"><i class="fab fa-linkedin-in"></i></a> </span></div>
        </div>
    </footer>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:800,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
