{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Hero Section -->
<style>
  .shopping-cart {
    transform: perspective(50em) rotateY(-30deg);
    margin-top: -40px;
  }

</style>
<div class="hero-section">
  <div class="container">
    <div class="hero-search">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <h1 class="hero-heading">SEARCH FOR PRODUCTS</h1>
          <div class="hero-text">
            Search for what you're looking for in the form below and get the best suggestions from our team.
          </div>
          <div class="hero-form">
            <form class="form-inline form-class" method="POST"> {% csrf_token %}
              {{keyword_form.keyword_search}}
              {{keyword_form.keyword_search_slug}}
              <button class="btn btn-lg btn-outline-danger btn-search my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <img class="shopping-cart img-fluid img-responsive" src="{% static 'images/cart.svg' %}" alt="Shopping Cart"
            height="300px">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="home-alternative-content">
  <div class="container">
    <h2 class="text-center standard-heading">HOW IT WORKS?</h2>
    <div class="row how-it-works">
      <div class="col-md-4 text-center home-margin">
        <i class="fas fa-search fa-3x"></i>
        <h3 class="minor-heading">Review Search</h3>
        We search for reviews all over the web from trustable sources and store them collectively.
      </div>
      <div class="col-md-4 text-center home-margin">
        <i class="fas fa-chart-pie fa-3x"></i>
        <h3 class="minor-heading">Review Analysis</h3>
        We use Sentimental Analysis and Artificial Intelligence to determine how unbiased and accurate the review is.
      </div>
      <div class="col-md-4 text-center home-margin">
        <i class="fas fa-trophy fa-3x"></i>
        <h3 class="minor-heading">The Winner</h3>
        Based on tour average rating of each product, we rank the best products in each category.
      </div>
    </div>
  </div>
</div>


{% if product_categories %}
<div class="home-content">
  <div class="container">
    <h2 class="text-center standard-heading">BEST CATEGORIES</h2> <!-- Month & Year Generated Dynamically -->
    <div class="popular-categories">
      <div class="card-deck text-center">
        {% for product_category in product_categories|slice:":4" %}
        <div class="card">
          <a class="product-link" href="{{product_category.get_absolute_url}}">
            <div class="card-body">
              <h3 class="card-title">{{ product_category.name }}</h3>
            </div>
            <div class="product-image-wrapper">
              <img class="card-img-top product-image" src="{{product_category.products.first.image}}"
                alt="Card image cap">
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block javascript %}

{% endblock javascript %}
