<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-links">
        <span class="copyright-text"><a href="/">Copyright © 2018 • Review Signals</a></span> <!-- Year Generated Dynamically -->
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Affiliate Disclosure</a>
        <span class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a> 
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </span>
        </div>
    </div>
</footer>
