{% load static %}
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: -webkit-linear-gradient(right, #00A7FF, #34c2f5);">
        <div class="container">
          <a class="navbar-brand" href="/"><img  src="{% static 'images/logo.png' %}" alt="Review Signals Logo" height="21px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
              </li>
  
              {% comment %} <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="nav flex-column text-center">
    
                          <li class="nav-item">
                            <a class="nav-link" href="#">Electronics</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Luggage</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Fashion</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Arts & Crafts</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Personal Care & Beauty</a>
                          </li>
                        </ul>
                      </div>
                      
                      <div class="col-md-4">
                        <ul class="nav flex-column text-center">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Pet Supplies</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Sports & Outdoor</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Tools & Home Improvement</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Health & Household</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Toys & Games</a>
                          </li>
                        </ul>
                      </div>
  
                      <div class="col-md-4">
                        <ul class="nav flex-column text-center">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Books</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Home & Kitchen</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Video Games</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Industrial & Scientific</a>
                          </li>
                          <div class="dropdown-divider"></div>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Computers</a>
                          </li>
                        </ul>
  
                      </div>
                    </div>
                  </div>
                </div>
              </li> {% endcomment %}
            </ul>
            {% comment %} <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
          </div>
        </div>
      </nav>
