{% load static i18n compress %}<!DOCTYPE html>
<html lang="en">
  <head>

      {% block metatags %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="150 words"/> <!-- Generated Dynamically -->
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ReviewSignals: Best Product Recommendations" /> <!-- Generated Dynamically -->
        <meta property="og:description" content="150 words" /> <!-- Generated Dynamically -->
        <meta property="og:url" content="https://www.domain.com/" /> <!-- Generated Dynamically -->
        <meta property="og:site_name" content="Review Signals" /> <!-- Generated Dynamically -->
        <meta name="og:image" content="https://www.reviewsignals.com/images/logo.png"/>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="150 words" /> <!-- Generated Dynamically -->
        <meta name="twitter:title" content="ReviewSignals: Best Product Recommendations" /> <!-- Generated Dynamically -->
        <meta name="twitter:site" content="@username" /> <!-- Generated Dynamically -->
        <meta name="msvalidate.01" content="bing_verification_code_here" /> <!-- Generated Dynamically -->
        <meta name="google-site-verification" content="google_verification_code_here" /> <!-- Generated Dynamically -->
      {% endblock metatags %}

      <!-- WebSite Schema -->
      <script type='application/ld+json'> {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "Review Signals", //Generated Dynamically
      "url": "https://www.example.com/" //Generated Dynamically
      }
      </script>


      <!-- Organization Schema -->
      <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Review Signals", //Generated Dynamically
        "alternateName": "ReviewSignals", //Generated Dynamically
        "url": "https://www.reviewsignals.com", //Generated Dynamically
        "logo": "", //Generated Dynamically (LOGO URL)
        "sameAs": [
          "https://www.facebook.com/asdasdad", //Generated Dynamically
          "https://www.twitter.com/asdasdad", //Generated Dynamically
          "https://www.instagram.com/asdasdad", //Generated Dynamically
          "https://www.linkedin.com/asdasdad", //Generated Dynamically
          "https://plus.google.com/asdasdad" //Generated Dynamically
        ]
      }
      </script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <link rel="shortcut icon" type='image/x-icon' href="{% static 'images/favicons/favicon.ico' %}">
      <title>ReviewSignals: Best Product Recommendations</title> <!-- Generated Dynamically -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

    {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endcompress %}
    {% endblock %}

  </head>

  <body>

    {% include "partials/navbar.html" %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}
    {% include "partials/footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    	<script src={% static "js/jquery.star-rating-svg.js" %}></script>
	<script src={% static "js/canvasjs.min.js" %}></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = {% static 'js/jquery.autocomplete.min.js' %}></script>
    <script src="{% static 'js/project.js' %}"></script>
    {% block javascript %}
  

      <!-- place project specific Javascript in this file -->

    {% endblock javascript %}
    
  </body>
</html>

